<!--NAVBAR-->
<nav>
    <div class="nav-wrapper teal">
        <a href="" class="brand-logo"><i class="material-icons"></i>The Feel Goods</a>
        <ul class="right hide-on-med-and-down">
            <li><a href=""><i class="material-icons">option1</i>Notes</a></li>
            <li><a href=""><i class="material-icons">option2</i>Workout</a></li>
            <li><a href=""><i class="material-icons">option3</i>Resources</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h1 class="col s12 m12 center-align">The Feel Goods</h1>

        <!--Card for Inspirational Quote-->
        <h2 class="col s12 m6 center-align card medium">
            Quote
            <div id="quote">
                <h3 class="" id=""></h3>
        </h2>

        <!--Card for Notes/Todo section-->
        <h2 class="col s12 m6 center-align card medium">
            Notes/Todo:
            <div id="notes">
                <div class="input-field">
                    <textarea id="addTodoInput" class="materialize-textarea"></textarea>
                    <a class="waves-effect waves-light btn-small" id="addTodo">Add</a>
                </div>
                {{#each sql}}
                {{#if complete}}
                <div>
                    <span class="flow-text" style="text-decoration: line-through">{{note}}</span>
                    <a class="waves-effect waves-light btn-small delete-note" note-id="{{id}}">Delete</a>
                </div>
                {{else}}
                <div>
                    <span class="flow-text">{{note}}</span>
                    <a class="waves-effect waves-light btn-small completeNote" note-id="{{id}}">Complete</a>
                </div>
                {{/if}}
                {{/each}}
            </div>

            <!--Card for Health and Wellness Tips-->
            <h2 class="col s12 m6 center-align card medium">
                Health and Wellness Tips:
                <div class="row">
                    <div id="health"></div>
                    <p>Tip</p>

                </div>

                <!--Box for Workout of the Day -->
                <h2 class="col s12 m6 valign-wrapper center-align gif">
                    Workout of the day!
                    <img id="workout" src="" alt="">
                </h2>
            </h2>

            <!-- Card for Workout of the day Weekly List--> -->
            <h2 class="col s12 m12 center-align">
                <br>Workouts for the Week!
                <div class="card medium">
                    <div class="card-content">
                        <p id="workoutList"></p>
                    </div>
            </h2>

            <!--Card for Resources-->
            <h2 class="col s12 m6 center-align card medium">
                ReSoUrCeS:
                <div class="col-sm-">
                    <p></p>
                </div>
            </h2>
    </div>
</div>