<!--NAVBAR-->
<nav>
    <div class="nav-wrapper teal">
        <a href="" class="brand-logo"><i class="material-icons"></i>The Feel Goods</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#notes-header"><i class="material-icons teal header-right">option1</i>Notes</a></li>
            <li><a href="#workouts-header"><i class="material-icons white header-right">option2</i>Workout</a></li>
            <li><a href="#tip-header"><i class="material-icons white header-right">option3</i>Tip</a></li>
            <li><a href="#resources-header"><i class="material-icons white header-right">option4</i>Resources</a></li>
        </ul>
    </div>
</nav>


<div class="container parallax">
    <div class="row">
        <h1 class="col s12 m12 center-align z-depth-5">The Feel Goods</h1>

        <!--Card for Inspirational Quote-->
        <h2 class="col s12 m6 center-align card medium z-depth-5">
            Quote
            <div id="quote">
                <h3 class="z-depth-5" id=""></h3>
        </h2>

        <!--Card for Notes/Todo section-->
        <h2 id="notes-header" class="col s12 m6 center-align card medium z-depth-5">
            Notes/Todo:
            <div id="notes">
                <div class="row" style="margin-top: 10px;">
                    <div class="col s12 m10">
                        <textarea id="addTodoInput" class="materialize-textarea"></textarea>
                    </div>
                    <div class="col s12 m2">
                        <a class="waves-effect waves-light btn-small" id="addTodo">Add</a>
                    </div>
                </div>
                {{#each todo}}
                {{#if complete}}
                <div>
                    <span class="flow-text" style="text-decoration: line-through">{{note}}</span>
                    <a class="waves-effect waves-light btn-small deleteNote" note-id="{{id}}">Delete</a>
                </div>
                {{else}}
                <div>
                    <span class="flow-text">{{note}}</span>
                    <a class="waves-effect waves-light btn-small completeNote" note-id="{{id}}">Complete</a>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </h2>

        <!--Card for Health and Wellness Tips-->
        <h2 id="tip-header" class="col s12 m12 center-align card medium z-depth-5">
            Health and Wellness Tips:
            <br>
            {{#each tip}}
            <span class="flow-text"><b>{{name}}</b></span>
            <br>
            <span class="flow-text">{{tip}}</span>
            {{/each}}
        </h2>

        <!-- Card for Workout of the day Weekly List--> -->
        <div id="workouts-header" class="col s12 m12 center-align z-depth-5">
            <h2>Workouts for the Week!</h2>
            <div class="card medium">
                <div class="card-content">
                    {{#each workout}}
                    <span class="flow-text"><b>{{day}}</b></span>
                    <span class="flow-text">{{workout}}</span>
                    <br>
                    {{/each}}
                </div>
            </div>
        </div>

        <!--Card for Resources-->
        <h2 id="resources-header" class="col s12 m6 center-align card medium z-depth-5">
            ReSoUrCeS:
            <div class="col-sm-">
                <p></p>
            </div>
        </h2>
    </div>
</div>